.img-logo {
  width: 179px;
  height: 118px;
  padding: 2px;
  position: absolute;
  top: -21px;
  left: 35px;
  background-image: url("./../public/img/domoluz-logo-hd.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: center;
}

#menu.navbar-default .navbar-nav > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
  /* background: linear-gradient(to right, #6372ff 0%, #0a3d62 100%); */
  content: "";
  transition: width 0.2s;
}

.text-color-p {
  color: #111111 !important;
  font-weight: 400;
}

.text-color-a {
  color: #0a3d62;
}

.text-color-c {
  color: #7cb342;
}

.text-color-n {
  color: #e0e0e0;
}

.text-color-degrade {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%) !important;
  /* background: linear-gradient(to right, #6372ff 47%, #0a3d62 100%); */
  -webkit-background-clip: text !important;
  background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.fondo-color-degrade {
  background: linear-gradient(to right, #6372ff 0%, #5ca9fb 100%);
}

.fondo-color-p {
  background-color: #f5f5f5;
}

.fondo-color-a {
  background-color: #424242;
}
